<h5>Teste</h5>

<table>
<thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
    </tr>
</thead>
<tbody>
{{#inscritos}}
    <tr>
        <td>{{ nome }}</td>
        <td>{{ email }}</td>
    </tr>
{{/inscritos}}
</tbody>
</table>