<h2>Novo ambiente de apoio</h2>

<br>

<h3>Informações gerais</h3>

<br>

<form>
  <div class="row g-3 align-items-center">
    <div class="col col-sm-3">
      <label for="nome_completo_curso" class="col-form-label">Nome completo do curso</label>
    </div>

    <div class="col col-sm-9">
      <input type="text" id="nome_completo_curso" class="form-control" aria-described value="{{ nome_curso_apolo }}">  
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Criar ambiente</button>
</form>